* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  min-height: 100vh;
}

.clear {
  background-image: url('./assets/clear.jpg');
}

.thunderstorm {
  background-image: url('./assets/thunder.jpg');
}

.rain {
  background-image: url('./assets/rain.jpg');
}

.snow {
  background-image: url('./assets/snow.jpeg');
}

.cloudy {
  background-image: url('./assets/cloudy.jpg');
}

.search-container {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.search-button {
  text-align: center;
  padding: 5px;
  background-color: rgba(255,255,255);
  border-radius: 5px;
  box-shadow: -1px 3px rgba(0,0,0,0.2);
}

.searchbar {
  width: 200px;
  padding: 5px;
  background-color: rgba(255,255,255);
  border-radius: 5px;
  box-shadow: 1px 3px rgba(0,0,0,0.2);
}

.coords-button {
  margin: 10px;
  padding: 5px;
  background-color: rgba(255,255,255);
  border-radius: 5px;
  box-shadow: 0px 3px rgba(0,0,0,0.2);
}

.city-name {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-top: 150px;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.date {
  color: rgb(240, 240, 240);
  font-size: 1.2rem;
  margin-top: 25px;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.temp {
  color: rgb(240, 240, 240);
  font-size: 5rem;
  margin-top: 25px;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.description {
  color: rgb(240, 240, 240);
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.details {
  color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(50,50,70,0.7);
  position: absolute;
  bottom: 0;
  left: 0;
}